// Grand Central Station

@import 'google-homepage';

body {
    background: #3fe0d4;
}

// First Frame
#svg {
       transform: scale(.5);
        transition: transform .5s;
}


// Last Frame
img#svg:hover {
    transform: scale(1.5);
}